/* Home.css */

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --dark-blue: #1E2C3E;
    --gold-yellow: #D3AA55;
    --off-white: #FFFCFF;
    --grey: #3F4144;
    --light-black: #222331;
}

.object {
    width: 60rem;
    max-width: 100%;
    height: auto;
    right: 0;
}

.searchbar {
    width: 45rem;
    height: 3.5rem;
    border-radius: 1rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: var(--grey)
}

.logo {
    margin-top: 15rem;
    width: 10rem;
    height: 10rem;
}

input.placeholder {
    background: url("../assets/search.svg");
}

.sb {
    margin-top: 60rem;
}

.oneliner {
    color: white;
    font-weight: bold;
    margin-top: 36rem;
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px var(--light-black);
}

.search-container img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    color: red;
}

.icons-row-container {
    /* Centering and spacing */
    text-align: center;
    bottom: 13rem;
}

.icon {
    width: 2rem;
    margin: 0 10px; /* Adjust spacing between icons */
    opacity: 0.8; /* 80% Opacity */
}

.description {
    bottom: 7rem;
    width: 50%;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-style: italic;
}

/*Edits voor mobiel: */
@media (max-width: 850px) {
    .temple {
        display: none;
    }

    .searchbar {
        width: 23rem;
    }

    .oneliner {
        text-align: center;
        font-size: 2rem;
    }

    .description {
        bottom: 90px;
        width: 70%;
        font-size: 1rem;
    }

    .icons-row-container {
        display: none;
    }
}

/*Edits voor 4k schermen*/
@media (min-width: 1921px) {
    .temple {
        width: 80rem;
    }
}